
/* codes for my MATTRAB.edu project/Shared css */

/*************************************
==> Basic css
==> Webfonts
==> Fontsizes
==> Animation
==> Backgrounds
==> Fontcolors
*************************************/

/* gives vertical scroll bar always in different pages */
html{overflow-y:scroll;overflow-x:hidden;font-family: corbel;}
*{margin: 0;padding: 0;box-sizing: border-box;}
::-webkit-scrollbar{width:8px;background-color:#E5E4E2;}::-webkit-scrollbar-thumb{border-radius:2px;background-color:#b3b3b3;}
::-webkit-scrollbar-thumb:hover{background-color:#999999;}
::-webkit-scrollbar-thumb:focus{background-color:#808080;}
.scrollable-box{overflow-y:scroll;}
.scrollable-box::-webkit-scrollbar{width:6px;background-color:#E5E4E2;}::-webkit-scrollbar-thumb{border-radius:2px;background-color:#b3b3b3;}
.scrollable-box::-webkit-scrollbar-thumb:hover{background-color:#999999;}
.scrollable-box::-webkit-scrollbar-thumb:focus{background-color:#808080;}


/* Webfonts */
.Mr-arial {font-family:areeal;}@font-face{font-family:areeal;src:url('fonts/arial.ttf');}
.Mr-corbel {font-family:corbel;}@font-face{font-family:corbel;src:url('fonts/corbel.ttf');}
.Mr-nepali {font-family:kantipur;}@font-face{font-family:kantipur;src:url('fonts/kantipur.ttf');}
.Mr-logo {font-family:textLogo !important;}@font-face{font-family:textLogo;src:url('fonts/logo.ttf');}

/* Fontsizes */
.Mr-14 {font-size:14px;}
.Mr-16 {font-size:16px;}
.Mr-18 {font-size:18px;}
.Mr-20 {font-size:20px;}
.Mr-22 {font-size:22px;}
.Mr-25 {font-size:25px;}
.Mr-28 {font-size:28px;}
.Mr-30 {font-size:30px;}
.Mr-35 {font-size:35px;}
.Mr-40 {font-size:40px;}
.Mr-bold {font-weight:bold;}
.Mr-bolder {font-weight:bolder;}
.Mr-italic {font-style:italic;}
.Mr-h1,h1 {font-size:35px;}
.Mr-h2,h2 {font-size:30px;}
.Mr-h3,h3 {font-size:25px;}
.Mr-h4,h4 {font-size:20px;}
.Mr-h5,h5 {font-size:18px;}
.Mr-h6,h6 {font-size:16px;}

/* Annimations */
.Mr-spin{animation:Mr-spin 2s infinite linear}@keyframes Mr-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.Mr-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.Mr-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.Mr-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.Mr-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.Mr-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.Mr-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.Mr-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.Mr-animate-bitzoom {animation:animatezoom 0.4s}@keyframes animatezoom{from{transform:scale(0.8)} to{transform:scale(1)}}
.Mr-animate-input{transition:width 0.4s ease-in-out}.Mr-animate-input:focus{width:100%!important}
.shrinked{transform:translate3d(0,-100%,0);-webkit-transform:translate3d(0,-60%,0);}


/* Backgrounds */
.Mr-background-main{background:#4BE9C4;}
.Mr-background-darkgrey{background:#D1D0CE;}
.Mr-background-lightgrey{background:#E5E4E2}


/* Fontcolors */
.Mr-font-main{color:#00b38f;}
.Mr-font-light{color:#4BE9C4;}
.Mr-font-black{color:#1d6354;}
.Mr-font-grey{color:#ddd;}
.Mr-font-white{color:#FFFFFF;}


.Mr-text-shadow{text-shadow:0 .06em .4em #aaa;}
.Mr-text-centered{text-align:center;}
.Mr-text-right{text-align:right;}
.Mr-text-left{text-align:left;}
.Mr-object-centered{vertical-align:middle;margin:0 auto;}
.Mr-object-right{float:right;}
.Mr-object-left{float:left;}
.Mr-link:hover{color:#4BE9C4;text-decoration:none;}
.Mr-dark-link{color:#00b38f;text-decoration:none;}
.Mr-dark-link:hover{color:#008066;text-decoration:none;}
.Mr-darker-link{color:#008066;text-decoration:none;}
.Mr-darker-link:hover{color:#008066;text-decoration:none;}
.close {color: #000;float:right;font-size:28px;font-weight:bold;margin-top:5px;}
.close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
.Mr-modal{display: none;position: fixed;z-index:9;padding-top: 150px;left: 0;top: 0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);}
.Mr-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:60%;}
.Mr-vertical-menu{width:100%;float:left;background-color:transparent;}
.Mr-alert-modal{display: none;position: fixed;z-index:9;padding-top: 150px;left: 0;top: 0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);}
.Mr-alert-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:60%;}
.Mr-vertical-menu p{display: block;text-decoration:none;}
.Mr-vertical-menu a{display: block;text-decoration:none;}
.profile-label-box{padding:0;margin:0;}
.profile-label-box img{width:20%;height:40px;border-radius:25px;float:left;}
.fa-center {text-align: center;display: inline-block;width: 100%;vertical-align: middle;}
.Mr-Rmargin5{margin-right:5px !important;}
.Mr-Lmargin5{margin-left:5px;}
.Mr-Tmargin5{margin-top:5px;}
.Mr-Bmargin5{margin-bottom:5px;}
.Mr-fixed{position:fixed;}
.Mr-hidden{display:none;}
.Mr-header-color{color:#1d6354;}
.Mr-error{color:#A52A2A;}

/* Mr objects */
/** Card **/
.card{padding-top:.5em;min-height: 200px;border-right:1px solid #00b38f !important;}
.last-card{border:none !important;}
.card img{width:80%;height:130px;margin-left:10%;margin-bottom:.5em;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}

/** Box Card **/
.row-window{width:100%;min-height:450px;padding-top:10em;}
.box-card-container{height:auto;padding:.5em 2em;}
.box-card{z-index:3;background: #f5f5f5;height: 250px;width: 100%;padding: 2em 1.5em;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25), 0 2px 10px 0 rgba(0,0,0,0.2);}

/** Horizantal Buttons **/ /*^^*/
.button-container{margin:0 auto;min-height:50px;position: relative;border: 1px solid #00b38f !important;} 
.horizantal-buttons{width: auto;margin:0 auto;position: absolute;text-align:center !important;border: 1px solid #00b38f !important;}
.horizantal-buttons.right{width: auto;margin:0 auto;float:right;}
.horizantal-buttons.left{width: auto;margin:0 auto;float:left;}
.horizantal-buttons li{list-style:none;display:inline;}
.horizantal-buttons a {display: inline-block;margin: 0 5px !important;background:#00b38f;border-radius:2px;z-index: 2;padding:.1em 16px;font-size:18px;font-family:corbel;color:#1d6354;font-weight:bolder;text-decoration:none;text-shadow:0 .06em .4em #aaa;border:1px solid #00b38f !important;transition:all .2s;}
.horizantal-buttons a span{transition:background .1s;display:inline;}
.horizantal-buttons :hover {background: #f5f5f5;color:#00b38f;}

/** text logo design **/
.mattrab-logo {font-family:textLogo;text-decoration:none;font-weight:bold;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:35px;color:#2c7566;display:block;font-weight:bolder;position:absolute;top:17px;letter-spacing:0px;}
.mattrab-logo:hover,.mattrab-logo:focus {text-decoration:none;color:#18a588;}
.mattrab-logo .dotedu {color:#18a588;font-size:30px;font-weight:bolder;}
.fa-1x{font-size:10px !important;}
.fa-2x{font-size:12px !important;}

/** bottom-footer **/
#footer{z-index:5;height:25vh;font-family:corbel;background:#E5E4E2;box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);}
#footer .container{width:100%;}
#footer .container .col-md-3{margin-top: 3vh;}

/** Bottom slanted div **/
.bottom-slanted:after{position:absolute;width:100%;height:100%;content:'';z-index:-1;top:0;right:0;left:0;bottom:0;transform-origin:top right;transform: skewY(-3deg);}

.Mr-card-4,.Mr-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.Mr-display-container:hover .Mr-display-hover{display:block}.Mr-display-container:hover span.Mr-display-hover{display:inline-block}.Mr-display-hover{display:none}
.Mr-container:after,.Mr-container:before,.Mr-panel:after,.Mr-panel:before,.Mr-row:after,.Mr-row:before,.Mr-row-padding:after,.Mr-row-padding:before,
.Mr-container,.Mr-panel{padding:0.01em 16px}.Mr-panel{margin-top:16px;margin-bottom:16px}
.Mr-teal{color:#4BE9C4!important;background-color:#fff!important},.Mr-teal:hover{color:red!important;background-color:#4BE9C4!important}
.Mr-btn,.Mr-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.Mr-large{font-size:18px!important}
.Mr-display-topright{position:absolute;right:0;top:0}
.display-topright{top:0;right:0;}

/* Shared css for NavRow */
		#navRow{
            margin:0;
            padding: 0;
            width:100%;
            z-index:10;
            height: 100px;
            position: fixed;
            transition:all 0.5s ease;
            -webkit-transition:all 0.5s ease;
        }
        #mainNavigation{
            height: 60px;
            background:#4BE9C4;
            width:100%;
            margin:0;
        }
        #mainNavigation img{
            height: 60px;
            width: 100%;
            margin-left: 20px;
        }
        .link-overlay{background:#4bd0b5;z-index:2;height:40px;position:relative;}
        #linkNavigation{
            height: 40px;
            background:transparent;
            padding:0px;
            font-family: corbel;
        }
        #linkNavigation .container {
            width: 100%;
            margin: 0px !important;
            padding: 0px !important;
        }
        #linkNavigation nav {
            background: transparent;
        }
        #linkNavigation nav ul {
          margin: 0;
          padding: 0;
          list-style: none;
          position: relative;
          text-align: left;
        }
        #linkNavigation nav li {
          display: inline-block;
        }
        #brand{background:#39b39a;border-radius:0px 25px 25px 0px;height:40px;margin-right:20px;border-top:1px solid #1d6354;border-bottom:1px solid #1d6354;border-right:1px solid #1d6354;}
        #brand p{color:#1d6354;font-family:corbel;font-size:20px;font-weight:bolder;text-shadow:0 .06em .4em #aaa;margin:5px 10px;}

        #linkNavigation nav a {
            z-index: 5;
            display: block;
            text-decoration: none;
            padding:10px 14px;
            font-size:14px;
            font-family:corbel;
            color:#2c7566;
            font-weight:bolder;
            text-shadow:0 .06em .4em #aaa;
            transition: .2s;
        }

        #linkNavigation nav li:hover {
          background: #39b39a;
        }

        #linkNavigation nav li:hover a {
          color: #1d6354;
        }

        #linkNavigation .menu-sub {
          position: absolute;
          left: 0;
          z-index: 2;
          background: linear-gradient(to bottom,#39b39a,#4BE9C4);
          width: 100%;
          display: none;
          color: #1d6354;
          padding: 2em;
          min-height: 330px;
          transition:all .4s ease;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }

        #linkNavigation nav li:hover .menu-sub{
          display: block;
        }
        .menu-category {
          margin: .3em 0;
          min-height:300px;
        }
        .menu-category:last-of-type {
          border:none;
        }
        .menu-category .category-header{
            margin: 0 !important;
            font-size: 25px;
            text-align:left;
            letter-spacing:1px;
            font-weight: normal;
            text-shadow: text-shadow:0 .06em .4em #aaa !important;
        }
        .menu-category > ul {
          display: block;
          margin: 0;
          padding:.8em 0 !important;
          list-style: none;
          position: relative;
          text-align: left;
        }
        .menu-category > ul > li.menu{
            list-style:none;
            display: block !important;
        }
        .menu-category > ul > li.menu > a{
            font-size: 16px !important;
            text-decoration: none;
            padding:2px 4px !important;
            margin: 0 !important;
            font-weight: normal !important;
            transition:all .2s !important;
        }
        .menu-category > ul > li.menu > a:hover{
            background:#18a588;
            border-radius:2px;
            color:#E5E4E2 !important;
        }
        .menu-category > ul > li.menu > ul{
          display: block;
          margin-left: 18px !important;
          padding:..1em 0 !important;
          position: relative;
          text-align: left;
          list-style: cambodian !important;
        }
        .menu > ul > li.items{
            display: block !important;
            list-style: cambodian !important;
        }
        li.items > a{
            font-size: 12px !important;
            text-decoration: none;
            padding:2px !important;
            margin: 0 !important;
            font-weight: normal !important;
            transition:all .2s !important;
        }
        li.itens > a:hover{
            background:#18a588 !important;
            color:#E5E4E2 !important;
            text-decoration: underline !important;
        }
        .Mr-search-box{min-height:40px;padding-right:45px;margin:0;float:right !important;}
        .Mr-search-box:hover{background:transparent !important;}
        .Mr-search-box input{width:150px;min-height:25px !important;float:right;margin-top:8px;background:rgba(0,0,0,0.1);border:none;border-radius:8px 0px 0px 8px;padding:0px 10px;transition:width .2s 0s;}
        .Mr-search-box input:focus{width:85%;outline:none;transition:width .2s 0s;}
        .Mr-search-box button{width:15% !important;min-height:25px !important;margin-top:8px;background:rgba(0,0,0,0.1);border-radius:0px 8px 8px 0px;border:none;float:right !important;outline:none;padding:0px 10px}

/* Css for side Navigation */
		#sidenav h2.sidebar-header{
            font-weight:normal;
            font-size:18px;
            display: block;
            padding:4px 10px !important;
            margin:.2em 0 !important;
            font-family:corbel;
            color:#00b38f;
            text-shadow:0 .06em .4em #aaa;
        }
        .sidebar-subheader{
        	padding-left:16px;
            margin-left:1.75em;
            font-family:corbel;
            font-weight:normal;
            font-size:16px;
            color:#00b38f;
            transition: .2s;
            text-shadow:0 .06em .4em #aaa;
        }
        #sidenav .sidebar-subheader:hover{background:#39b39a;color:#E5E4E2;cursor:pointer;}
        .sidebar-unitheader{
        	padding-left:16px;
            margin-left:3em;
            font-family:corbel;
            font-weight:normal;
            font-size:14px;
            color:#00b38f;
        }
        #sidenav .sidebar-unitheader:hover{background:#39b39a;color:#E5E4E2;cursor:pointer;}
        #sidenav a {font-family:"Segoe UI",Arial,sans-serif;text-decoration:none;display:block;padding:2px 1px 1px 10px}
        #sidenav a.active {background-color:#39b39b;color:#fff}
        #leftmenuinner {
            position:fixed;
            top:0;
            padding-top:120px;
            padding-bottom:0;    
            height:100%;
            width:16.66667%;
            background:#f5f5f5;
        }
        #leftmenuinnerinner {
            height:100%;
            width:100%;
            overflow-y:scroll;
            overflow-x:hidden;
            padding-top:20px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

        }