
/* codes for my MATTRAB.edu project/Shared css */
/* 5. Shared Css for TopNavigation */
#navRow{
    margin:0;
    padding:0;
    width:100%;
    z-index:10;
    height: 110px;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
}
#mainNavigation{
    height: 60px;
    background:#E2A76F;
    width:100%;
    margin:0;
}
.mattrab-logo {font-family:textLogo,sans-serif;text-decoration:none;float:left;font-weight:bold;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:40px;color:#555555;display:inline;position:relative;font-weight:bold;position:absolute;top:20px;left:.8em;letter-spacing:0px;}
.mattrab-logo:hover,.mattrab-logo:focus {text-decoration:none;color:#18a588;}
.mattrab-logo .dotedu {color:#18a588;font-family:"Lato";font-size:16px;font-weight:bold;font-style:italic;}

.mainNavigation-right{
    float: right;
    padding-left:0;
    margin-bottom: 0;
    list-style: none;
}
.mainNavigation-right > li {
    position: relative;
    list-style: none;
    float: left;
    margin-top: 25px;
}
.mainNavigation-right > li > a {
    position: relative;
    display: table;
    font-size:16px;
    text-decoration: none;
    font-family:"Lato";
    color:#18a588;
    margin:0 .6em;
}
.mainNavigation-right > li > a:hover,
.mainNavigation-right > li > a:focus {
    text-decoration: none;
    color:#2c7566;
}
.mainNavigation-right > .navButton{
    margin-top: 20px !important;
}
.mainNavigation-right > .navButton > a{
    display:block !important;
    height:2em;
    width: auto;
    padding:.3em .6em;
    background:#EE9A4D;
    border-radius:2px;
    font-weight:bold;
    margin:0 .4em !important;
    transition:all .3s;
}
.mainNavigation-right > .navButton > a:hover{
    background:#C88141;
    color:#4BE9C4;
    cursor:pointer;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}
.mainNavigation-right > .navButton.transparent > a{
    background:transparent !important;
}
.mainNavigation-right > .navButton.transparent > a:hover{
    background:transparent !important;
    box-shadow:none;
    cursor:pointer;
}
/* 12. Login/Signup/Report Modals */
        .model-overlay#login-model{
            top:0;
            right:0;
            width:100%;
            height: 100vh;
            margin: 0;
            z-index:100;
            display:none;
            position:fixed;
            background:rgba(225,225,225,0.5);
        }
        .model-overlay#login-model .model{
            width:50%;
            height: 80vh;
            margin:4em auto;
            padding:3em 4em;
            border-radius:2px;
            background:#39b39a;
            box-shadow:0 5px 12px 2px rgba(0,0,0,0.4);
        }
        .header{min-height:80px;margin: 0 auto;}
        .header img{height:40px;width:40px;border-radius:16px;vertical-align:middle;float:right;}
        .header p{font-size:35px;color:#008066;font-family:textLogo;vertical-align:middle;}
        .model-overlay#login-model .model .form-body#formBox{border:1px solid #CCCCCC;border-radius:2px;height:48vh;padding:3em 10%;}
        .form-body#formBox label{margin-left:5px;}
        .form-body#formBox button{margin:0 !important;}
        .model-overlay#signup-model{
            top:0;
            right:0;
            width:100%;
            height: 100vh;
            margin: 0;
            z-index:100;
            display:none;
            position:fixed;
            background:rgba(225,225,225,0.5);
        }
        .model-overlay#signup-model .model{
            width:50%;
            height: 90vh;
            margin:2em auto;
            padding:3em 4em;
            border-radius:2px;
            background:#39b39a;
            box-shadow:0 5px 12px 2px rgba(0,0,0,0.4);
        }
        .model-overlay#signup-model .model .form-body#formBox{border:1px solid #CCCCCC;border-radius:2px;height:60vh;padding:3em 10%;}
        .model-overlay#report-model{
            top:0;
            right:0;
            width:100%;
            height: 100vh;
            margin: 0;
            z-index:100;
            display:none;
            position:fixed;
            background:rgba(225,225,225,0.5);
        }
        .model-overlay#report-model .model{
            width:60%;
            height: 90vh;
            margin:2em auto;
            padding:3em 4em;
            border-radius:2px;
            background:#39b39a;
            box-shadow:0 5px 12px 2px rgba(0,0,0,0.4);
        }
        .model-overlay#report-model .model .form-body#formBox{border:1px solid #CCCCCC;border-radius:2px;height:60vh;padding:3em 10%;}
.model-overlay#report-model .model .form-body#formBox > form > .form-group.input-group{
    width: 100% !important;
}
.model-overlay#report-model .model .form-body#formBox > form > .form-group.input-group > p{
    text-align: center;
    color: #008066;
    width: 100%;
    font-family:"Lato" !important;
}
.model-overlay#report-model .model .form-body#formBox > form > .form-group.input-group > input{
    width: 100%;
    height:30px;
    border-radius:2px;
    padding: .5em 1em;
    border:1px solid #e6e6e6;
}
.model-overlay#report-model .model .form-body#formBox > form > .form-group.input-group > textarea{
    width: 100%;
    min-height:6em;
    border-radius:2px;
    padding: 1em;
    border:1px solid #e6e6e6;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/* Link Navigation */
#linkNavigation{
    z-index: 100;
    height: 50px;
    width:100%;
    background:#EE9A4D;
    padding:0px;
    font-family: corbel;
    box-shadow: 0px 2px 4px 0px #aaa;
}
#linkNavigation .container {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}
#linkNavigation nav {
    background: transparent;
}
#linkNavigation nav ul.menu-main{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
}
#linkNavigation nav li {
    display: inline-block;
}
#brand{background:#39b39a;border-radius:0px 25px 25px 0px;height:50px;margin-right:10px;border-top:1px solid #1d6354;border-bottom:1px solid #1d6354;border-right:1px solid #1d6354;}
#brand span{color:#1d6354;font-family:"Lato";font-size:20px;font-weight:bolder;text-shadow:0 .06em .4em #aaa;margin-top:-6px !important;margin-left:8px;display:inline;}
#brand span.small{font-size:16px;}
#brand a#homeIcn{height:50px;display:inline;}
#brand a#homeIcn i{font-size:25px !important;margin:10px 0;}
#linkNavigation nav ul.menu-main a {
    z-index: 5;
    display: block;
    text-decoration: none;
    padding-left:12px;
    padding-right:12px;
    padding-top:14px !important;
    padding-bottom:14px !important;
    font-size:16px;
    font-family:"Lato";
    color:#2c7566;
    text-shadow:0 .06em .4em #aaa;
    transition: .2s;
}

#linkNavigation nav ul.menu-main li:hover{
    background: #39b39a;
}

#linkNavigation nav ul.menu-main li:hover a{
    color: #1d6354;
}
#linkNavigation .menu-sub {
    position: absolute;
    left: 0;
    z-index:5;
    background: linear-gradient(to bottom,#39b39a,#4BE9C4);
    width: 100%;
    display:none;
    color: #1d6354;
    padding: 2em;
    min-height: 330px;
    transition:all .4s ease;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
#linkNavigation nav li:hover .menu-sub{
    display: block;
}
.menu-category {
    margin: .3em 0;
    min-height:300px;
}
.menu-category:last-of-type {
    border:none;
}
.menu-category .category-header{
    margin: 0 !important;
    font-size: 20px;
    text-align:left;
    font-family:"Lato";
    letter-spacing:1px;
    font-weight:bolder;
    text-shadow:0 .06em .4em #aaa !important;
}
.menu-category > ul {
    display: block;
    margin: 0;
    padding:.8em 0 !important;
    list-style: none;
    position: relative;
    text-align: left;
}
#linkNavigation nav ul.menu-main .menu-category > ul > li.menu{
    list-style:none;
    display: block !important;
}
#linkNavigation nav ul.menu-main .menu-category > ul > li.menu > a{
    font-size: 16px !important;
    text-decoration: none;
    font-family:"Lato";
    padding:3px 4px !important;
    margin: 0 !important;
    font-weight: normal !important;
    transition:all .2s !important;
}
.menu-category > ul > li.menu > a:hover{
    background:#18a588;
    border-radius:2px;
    color:#E5E4E2 !important;
}
#linkNavigation nav ul.menu-main .menu-category > ul > li.menu > a img.app-img{
    margin-bottom:.8em !important;
    width:100%;
    height:auto;
    vertical-align:middle;
}






.menu-category > ul > li.menu > ul{
    display: block;
    margin-left: 18px !important;
    padding:..1em 0 !important;
    position: relative;
    text-align: left;
    list-style: cambodian !important;
}
.menu > ul > li.items{
    display: block !important;
    list-style: cambodian !important;
}
li.items > a{
    font-size: 12px !important;
    text-decoration: none;
    padding:2px !important;
    margin: 0 !important;
    font-weight: normal !important;
    transition:all .2s !important;
}
li.itens > a:hover{
    background:#18a588 !important;
    color:#E5E4E2 !important;
    text-decoration: underline !important;
}

/* Css for right icons */
.icon-toogle{margin-top:0 !important;width:50px;float:right;height:50px;color:#2c7566;text-align:center;font-size:22px !important;}
.icon-toogle:focus,.icon-toogle:hover{background:#EE9A4D !important;}
.icon-toogle i{margin:14px auto;}
.icon-toogle:focus i,.icon-toogle:hover i{text-shadow:0 .06em .4em #4d4d4d;}

/* Css for Mr Translator */
#translateCont{
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    padding:.8em 1em;
    height:50px;
    background:#EE9A4D;
    width: 40%;
    overflow:hidden;
    display: none;
    text-align:right;
}
#translateCont a.goog-te-menu-value{text-decoration:none;display:inline !important;padding:14px 0 !important;}
#translateCont .goog-te-gadget-simple{margin-right:10px;}
#translateCont .goog-te-gadget-simple:hover{
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}

/* Css codes for Custom Google Search*/
#searchCont{
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    padding:0 1em;
    height:50px;
    background:#EE9A4D;
    width: 40%;
    overflow:hidden;
    display: none;
    text-align:right;
}
#searchBox{width:95%;padding:0 auto;}
#searchCont .example button{
    padding:10px;
}
div.cse .gsc-control-cse, div.gsc-control-cse {
    font-family: "Lato";
    background:transparent;
    border: none;
    padding:0px !important;
    margin:0px;
    height:30px !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 12px;
}
#gs_tti50{margin:0;padding:0;}
.gsc-control-cse div {
    position: static;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border-color: #D9D9D9;
}
.gsc-input-box {
    border: 1px solid #D9D9D9;
    background: #fff;
    height: 25px;
}
table.gsc-search-box td {
    vertical-align: middle;
}
.gsib_a#gs_tti50 {
    padding:0 !important;
    margin: 0 !important;
}
.gsib_a#gs_tti50:foucs{
	padding: 0 !important;
}
.gsib_a input{height:25px;}
table.gsc-search-box td {
    vertical-align: middle;
}
td.gsc-search-button {
    width: 1%;
}
td.gsc-search-button input.gsc-search-button {
    background-color: #39b39a;
    border-color: #aaa;
    height: 25px;
}
#gsc-i-id1{padding:0;margin:0;}
a.gsst_a{padding:0 !important;margin:0 !important;}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
