@font-face { font-family:ace; src: url('fonts/ace/Ace.ttf');}
@font-face { font-family:cartoon; src: url('fonts/cartoon/Cartoon.ttf');}
@font-face { font-family:national; src: url('fonts/national/National.ttf');}
@font-face { font-family:bikrant; src: url('fonts/nepali/bikrant_40.TTF');}
@font-face { font-family:berlin; src: url('fonts/berlin/abc.TTF');}
html{
    overflow-y:scroll;
}
#body_of_index {
    background-image: url("../img/Bgofindex.jpg");
    background-size:cover;
}
#body_of_interests {
    background-image: url("../img/Additionaltointerests.jpg");
    background-size:cover;
}
#bg_image{
    background-image: url("../img/bgofcontact.jpg");
    background-size:75%;
}
#bgimg{
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
    }
    *{ margin: 0 auto;}


body {
    background:white; 
    margin: 0 auto; 
    font-family:georgia, times,serif; 
    height:105vh;
    }

h1{ 
    margin-top:0px;
    font-size:65px; 
	color:red;
    font-family:national;
}

h2{color:purple;
   font-family: ace;
   font-size:70px;
}
#nepali_font{
    font-size: 17px;
    font-family:bikrant;
}
#sp{
	color:yellow;
    border:none;
    font-size:75px;
    font-family:national;
}
#text_p{
    color:gray;
    font-size:20px;
}
#text_p_im{
    color:orange;
    font-size:21px;
}
#text_p_imp{
    color:gray;
    font-size:30px;
}
#text_p_im_r{
    color:black;
    font-size:28px;
    font-family:cartoon;
}
#text_pare{
    color:gray;
    font-size:17px;
    font: bold;
}
#text_pare_updates{
    color:gray;
    font-size:15px;
}
#missing{
    font-family:cartoon; 
    font-size:30px;       
}
#header_of_details{
	font-family:berlin; 
	color:blue;
}
#today_text{
    color:gray;
    font-size:50px;
    font: bold;
}
#text_updates{
	font-family:berlin;
	font-size:25px;
	color:grey;
}
#carousel-example-generic {
    width:50%;
    margin-right: auto;
    margin-left: auto;
}
#abc{
     font-size:40px;
}
#bgcolor{
    background-color:gray; 
}
#about{
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
}
#page1 {
    min-height:110vh;
    width:100%;
    background-image: url("../img/Bgofindex.jpg");
    background-size:cover;
    padding-top:110px;
    }
    
#page2 {
    height:110vh;
    width:100%;
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
    padding-top:100px;
    }
    
#page3 {
    height:110vh;
    width:100%;
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
    padding-top:100px;
    }
#page4 {
    height:110vh;
    width:100%;
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;    
    padding-top:100px;
    }
#page5 {
    height:110vh;
    width:100%;
    background-image: 
        linear-gradient(
            rgba(0,0,0,.4),
            rgba(0,0,0,.4)
            ),
        url("../img/Additionaltointerests.jpg");
    background-size:cover;
    padding-top:100px;
    }
    
#page6 {
    height:110vh;
    width:100%;
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
    padding-top:100px;
    }
    
#page7 {
    height:1100px;
    width:100%;
    background:#9b70c0;
    padding-top:100px;
    }
#header {
    position:fixed;
    height:50px;
    top:0px;
    left:0px;
    background:#666; 
    width:100%;
    z-index:999;
    }
.text_of_details{
	font-family:berlin; 
	color:grey;
	font-size:30px;
}
.tab-pane {
    background-color: rgba(0,255,0,.2) !important;
}
.navbar-brand {
    font-family:berlin; 
    font-size:25px;       
}
.carousel-caption {
     font-size:30px;   
}
.centered {
	text-align:center;
}
.selected { background-color:purple;}
.cloud_bg {
    background-image: url("../img/bgofprofle2.JPG");
    background-size:cover;
}

nav a:hover {
    background-color: #00FFFF !important;
}
    

.active {
    background-color: #4CAF50;
}
.block{
    min-height:700px;
    margin-top:0px;
    margin-bottom: 0px;
}


.navbar-default .navbar-collapse {
    background-color: #00FFFF;
    border-color: #333;
    font-size:20px;
}
/*
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
@media screen and (max-width: 768px) {
    #sp{
        font-size: 25px;
    }
    #bg_image{
    background-image: url("../img/bgofcontact.jpg");
    background-size:37%;
    }
    h1{ 
    margin-top:0px;
    font-size:32px; 
    color:red;
    font-family:national;
    }

h2{color:purple;
   font-family:ace;
   font-size:35px;
    }
   #text_p{
    color:gray;
    font-size:10px;
    }
    #text_p_im{
        color:orange;
        font-size:10px;
    }
    #text_p_imp{
        color:gray;
        font-size:15px;
    }
    #text_p_im_r{
        color:black;
        font-size:14px;
        font-family:cartoon;
    }
    #text_pare{
        color:gray;
        font-size:8px;
        font: bold;
    }
    #today_text{
        color:gray;
        font-size:25px;
        font: bold;
    } 
    #abc{
     font-size:20px;
    }
    #describing_height {
        max-height: 180px;
        max-width: 75%;
    }
    .navbar-brand {
    font-family:national; 
    font-size:15px;       
    }
    .carousel-caption {
         font-size:15px;   
    }
}