html,
body,
header,
#intro {
    height: 100%;
}

body{
	background:#e3e6e8;
}

#intro {
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #333333;
    min-height:60px !important;
}




.progress {
    height: 2px;
    margin-bottom: 20px;
    background-color: #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
}

.progress-bar {
    line-height: 8px;
    background-color: #F34452 !important;
    box-shadow: none;
    position: relative;
}

.progress-bar span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    font-weight: 400;
    position: absolute;
    top: -15px;
    right: -20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.progress-bar-label {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.progress-bar-label span {
	font-size: 14px;
    font-weight: 400;
}

.icon-list li {
    list-style:none;
}

.icon-list li:after {
    position: absolute;
    content: '\f00c';
    font-family: 'FontAwesome';
    left: 20px;
    color: #F34452;
}



.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}
.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.chip.chip-lg img {
    height: 52px;
    width: 52px;
}


.view.overlay img{
	height:230px;
}


.carousel-item img{
	height:365px;
}